<!doctype html>
<html lang="en">
   <head>
      <title>Crackit</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Paytone+One|Yrsa" rel="stylesheet">
	  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
   </head>
   <body>
     <div class="container-fluid">
      <header>
		<div class="jumbotron">
            <img src="{% static 'img/logo.png' %}" alt="logo" />
            <div class="row logo">CrackIt.</div><br/><br/>
         <div class="container">
          <button  type="button" class="button">Primary</button>
		  <button type="button" class="button">Primary</button>
		  <button type="button" class="button">Primary</button>

		</div>
      </div>
      </header>
      <div class="container">
      <div class="egg row">
      </div>
      <div class="misson row">
      </div>
      <div class="vision row">
      </div>
      <div class="contact row">
          
      </div>
      </div>
      <footer>
        Copyrightts
      </footer>
      </div>
   </body>
</html>