<!doctype html>
<html lang="en">
   <head>
      <title>Crackit</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Paytone+One|Yrsa" rel="stylesheet">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
   </head>
   <body>
      <header>
		<div class="jumbotron">
            <img src="{% static 'img/snakes.png' %}" height="300" width="300" alt="logo" />
            <div class="row" id="logo">CrackIt.</div><br>
         <div class="container">
          <button  type="button" class="button">Game</button>
		  <button type="button" class="button">About</button>
		  <button type="button" class="button">Contact</button>

		</div>
      </div>
      </header><br><br>
       <div class="container-fluid">
      <div class="container">
      <div class="egg row">
         <div class="col-md-3"><img src="{% static 'img/egg.gif' %}" height="360" width="360" alt="logo" /></div>
         <div class="col-md-9" id="speech-bubble"><div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <h2>Hello Snakes and Snakes! I am Mr.Egg!!<span>&nbsp;</span></h2> 
      </div>
      <div class="item">
        <h2>I don’t care if you are an Anaconda or a Python but you better start brushing up your math skills cozz you aren’t gonna eat these eggs easily <span>&nbsp;</span></h2>
      </div>
      <div class="item">
       <h2> I don’t care if you are an Anaconda or a Python but you better start brushing up your math skills cozz you aren’t gonna eat these eggs easily <span>&nbsp;</span></h2>
      </div>
      <div class="item">
        <h2>I don’t care if you are an Anaconda or a Python but you better start brushing up your math skills cozz you aren’t gonna eat these eggs easily <span>&nbsp;</span></h2>
      </div>    
    </div>
  </div>
  </div></div>
         
      </div>
      </div>
      <div class="misson row">
      </div>
      <div class="vision row">
      </div>
      <div class="contact row">
      </div>
      </div>
      </header>
      <main>
         <div class="container-fluid">
            <div class="egg row">
            </div>
            <div class="bckYellow row paddingTwoPer">
               <h1 class="paddingBottomOnePer fontBold">
                  Mission:
               </h1>
               <div class="fontSizeFifteenPx">
                  <div class="familyMont paddingBottomOnePer">
                     “Crack it, then Eat it…!!” 
                  </div>
                  <div class="familyMont">
                     CrackIt strives to ignite the mind of gamers by providing them an experience of learning while gaming which engages and delights them and further motivates us to keep creating innovative and impactful experiences for the gamers all across the globe.
                  </div>
               </div>
            </div>
            <div class="paddingTwoPer row">
               <h1 class="paddingBottomOnePer fontBold">
                  Vision:
               </h1>
               <div class="visionContent familyMont fontSizeFifteenPx">
                  To develop the passion for learning while having fun among our Clients and be the best among our competitors. We remain confident in the ability of our company to successfully meet changes and keep evolving adapting the game plan to any challenges that lie ahead.
               </div>
            </div>
            <div class="team row">
                <h3>Team Members</h3>
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/ritu.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
                        <h4 class="teamFont">Ritu Phogat</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/photo2.jpg" class="img-circle pull-middle" alt="Cinque Terre" width="150" height="150" >
                        <h4 class="teamFont">Sakshi Arora</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/Venalla.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                        <h4 class="teamFont">Sri Vennela Vaishnapu</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/Rohan.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
                        <h4 class="teamFont">Srikrishna Rohan Madiraju</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/hemanth.png" class="img-circle" alt="Cinque Terre" width="150" height="150" >
                        <h4 class="teamFont">Hemanth Kumar</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/Saketh.JPG" class="img-circle" alt="Cinque Terre" width="150" height="150">
                        <h4 class="teamFont">Saaketh Lingamneni</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/photo2.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150" >
                        <h4 class="teamFont">Harshini Adusamalli</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/photo2.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
                        <h4 class="teamFont">Manisha Bochkar</h4>
                        </div>
                
                <div class="col-md-4 textAlignCenter">
                    
                    <!--p>The .img-rounded class adds rounded corners to an image (not available in IE8):</p-->
                    <img src="/static/img/photo2.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
                        <h4 class="teamFont">Sanjay Krishna</h4>
                        </div>
            </div>

            <div class="contact row">
            </div>
         </div>
      </main>
      <footer>
        Copyrightts
      </footer>
      </div>
   </body>
</html>