<!doctype html>
<html lang="en">
   <head>
      <title>Crackit</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Paytone+One|Yrsa" rel="stylesheet">
	  
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
   </head>
   <body>
      <header>
		<div class="jumbotron">
            <img src="{% static 'img/logo.png' %}" alt="logo" />
            <div class="row logo"> CrackIt.</div>
      </div>
      </header>
   </body>
</html>
COPY TO CLIPBOARD