  *{

    font-family: 'Paytone One', sans-serif;
  }
.jumbotron{
	background-color: #FFDD23;
	font-family: 'Yrsa', serif;
	text-align:center;
	height: 700px;
  margin:0;
}

.bckYellow{
	background-color: #FFDD23;
}

.paddingTwoPer{
	padding: 2%;
}

.paddingBottomOnePer{
	padding-bottom:1%;
}

.familyMont{
	font-family: Montserrat, sans-serif;
	font-weight:bold;
}

.button{
  display: inline-block;
  background-color:rgba(0,0,0,0.5);
  width: 150px;
  padding: 8px;
  color: white;
  border: 1px solid black;
  border-radius:10px;
  opacity:2;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size:15px;
}

.message{
  background-color: #FFDD23;
  height:200px;
  width:200px;
  border-radius:10px;
}
#logo{
  margin:0px;
	font-size:150px;
	color:black;
}

.mission{
background-color: #FFDD23;
}

.fontSizeFifteenPx{
	font-size: 15px;
}

.fontBold{
  font-weight:bold;
}

.team{
background-color: #FFDD23;	
}

/* carousel*/
.carousel-inner .item {
  text-align: center !important;
}
@media (max-width: 570px) {
  .carousel-control.left {
    left: 0;
  }
  .carousel-control.right {
    right: 0;
  }
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity:0;
}

.carousel.carousel-fade .active.item {
  opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}
#speech-bubble { position: relative; background: #FFDD23; border-radius: .4em; } 
#speech-bubble:after { content: ''; position: absolute; left: 0; top: 50%; width: 0; height: 0; border: 41px solid transparent; border-right-color: #ffff00; border-left: 0; border-bottom: 0; margin-top: -20.5px; margin-left: -41px; }
h2 span{
  position: absolute;
  top: 0;
  right: 0;
  background: #FFDD23;
  width: 100%;
  border-left: .1em solid transparent;
  -webkit-animation: typing 3s steps(16) forwards,
                     cursor 1s infinite;
  animation: typing 3s steps(16) forwards,
             cursor 1s infinite;
}/* Animation */
@-webkit-keyframes typing{
  from { width: 100%;}
  to { width: 0;}
}
@-webkit-keyframes cursor{
  50% { border-color: white;}
}
@keyframes typing{
  from{ width: 100%;}
  to{ width: 0;}
}
@keyframes cursor{
  50% { border-color: white;}
}