  *{

    font-family: 'Paytone One', sans-serif;
  }
.jumbotron{
	background-color: #FFDD23;
	font-family: 'Yrsa', serif;
	text-align:center;
	height: 700px;
}

.bckYellow{
	background-color: #FFDD23;
}

.paddingTwoPer{
	padding: 2%;
}

.paddingBottomOnePer{
	padding-bottom:1%;
}

.familyMont{
	font-family: Montserrat, sans-serif;
	font-weight:bold;
}

.button{
  display: inline-block;
  background-color:rgba(0,0,0,0.5);
  width: 150px;
  padding: 8px;
  color: white;
  border: 1px solid black;
  border-radius:10px;
  opacity:2;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size:15px;
}
.logo{
	font-size:150px;
	color:black;
}

.mission{
background-color: #FFDD23;
}

.fontSizeFifteenPx{
	font-size: 15px;
}

.fontBold{
  font-weight:bold;
}

.team{
background-color: #FFDD23;	
}
